@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  }
}

@layer components {
  nav.navbar ul {
    @apply border-t-2 border-gray-300 md:border-0 flex justify-end text-2xl font-bold h-full;
  }
  nav.navbar ul li a {
    @apply flex items-center uppercase py-4 px-12 relative h-full;
  }
  nav.navbar ul li a:before {
    content: '';
    @apply w-[2px] h-full bg-gray-300 absolute left-0 -skew-x-[20deg];
  }
  nav.navbar ul li a:after {
    content: '';
    @apply h-[2px] w-0 bg-red-500 absolute mt-5 -translate-x-1/2 left-1/2 transition-[width] duration-150 ease-in-out;
  }
  nav.navbar ul li a:hover:after {
    width: calc(100% - 85px);
  }

  .pagination-item {
    @apply px-8 py-4 border-r border-gray-300;
  }

  .pagination-item:last-child {
    @apply border-r-0;
  }

  a.pagination-item[aria-disabled='true'] {
    @apply text-gray-300 pointer-events-none;
  }
}
